dash-core-components==0.47.0
dash-html-components==0.16.0
dash-renderer==0.23.0
dash==0.42.0
dash-table==3.6.0
pandas==0.19.2
plotly==3.4.0
Flask==1.0
gunicorn==19.7.1
airtable @ git+git://github.com/nicocanali/airtable-python.git@497c237fc5c369853ca9dac98dd3f45019cde60d
